<!doctype html>
<html>
  <head>
    <title>Welcome to <%=forumName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Posts that match your search '<%=query%>':</h1>
    <ul>
        <!-- Create a for loop to go through all topics array, if we have no topics then display the message of failed to find-->
        <% if(postsData.length == 0) { %>
          <li>          
            Seems like we couldn't find a match :(
        </li>
        <% } %>
        <% for (let i = 0; i < postsData.length; i++) { %>
            <li class="post">          
              <div class="post-details">
                <!-- Display post details, such as description, creator, and topic -->
                <p>Posted By <%= postsData[i].creatorUsername %> -> <%= postsData[i].topicName %></p>
              </div>
                <div class="post-content">
                  <!-- Display larger text content for the post -->
                  <strong><%= postsData[i].description %></strong> 
                </div>
            </li>
        <% } %>
    </ul>
  </body>
</html>